h1
{
   font-family: Times;
   text-align: center
}

#mapCanvas
{
   padding-left: 0;
   padding-right: 0;
   margin-left: auto;
   margin-right: auto;
   display: block;
   border-radius: 8px;
}

#controlCanvas
{
   padding-left: 0;
   padding-right: 0;
   margin-left: auto;
   margin-right: auto;
   margin-top: 3%;
   display: block;
}

body
{
   background-image: url("../img/table.jpg");
   background-repeat: center repeat;
}